@using AutoScrum.Services

@inject DailyScrumService _dailyScrum
@inject OutputService _outputService

<CollapsibleCard Title="Blocking" AnchorLink="blocking" BodyStyle="padding: 0">
    <Table DataSource="_dailyScrum.IncludedUsers"
           Responsive
           HidePagination>
        <Column Title="Name" TData="User">
            <Tooltip Title="context.Email">
                <span>@context.DisplayName</span>
            </Tooltip>
        </Column>
        <ActionColumn Title="Include">
            <TextArea Placeholder="Autosize height based on content lines" AutoSize="true" @bind-Value="context.Blocking" OnChange="BlockingUpdated" />
        </ActionColumn>
    </Table>
</CollapsibleCard>

@code
{
    private void BlockingUpdated() => _outputService.Update();
}
