<Card ChildContent="@(_visible ? ChildContent : null!)" BodyStyle="@BodyStyle">
    <TitleTemplate>
        <div id="@TitleContainerId" class="flex-between">
            <span id="@AnchorLink">
                @Title
            </span>
            <Switch @bind-Checked="_visible">
                <CheckedChildrenTemplate>
                    Visible
                </CheckedChildrenTemplate>
                <UnCheckedChildrenTemplate>
                    Hidden
                </UnCheckedChildrenTemplate>
            </Switch>
        </div>
    </TitleTemplate>
</Card>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public bool DefaultVisible { get; set; }

    [Parameter]
    public bool IsVisible { get => _visible; set => _visible = value; }

    [Parameter]
    public string? AnchorLink { get; set; }

    [Parameter]
    public string? TitleContainerId { get; set; }

    [Parameter]
    public string? BodyStyle { get; set; }

    private bool _visible;

    protected override void OnInitialized()
    {
        _visible = DefaultVisible;
    }
}
