@using AutoScrum.Models
@inject AutoScrum.Core.Services.IConfigService _configService

<div style="display: flex; justify-content: center; align-items: center; flex-direction: row">
    <Title Level="4" Style="padding: 0; margin: 0 0.5rem 0 0">Theme: </Title>
    @if (ThemeProvider?.ThemeSettings is null)
    {
        <Spin />
    }
    else
    {
        <EnumSelect TEnum="AntTheme" Value="ThemeProvider.ThemeSettings.Theme" ValueChanged="ThemeChangedAsync" Style="width: 150px"/>
    }
</div>
@code 
{
    [CascadingParameter]
    public ThemeProvider ThemeProvider { get; set; } = null!;
    
    private async Task ThemeChangedAsync(AntTheme theme)
    {
        ThemeProvider.ThemeSettings!.Theme = theme;

        await _configService.SetTheme(ThemeProvider.ThemeSettings);

        await ThemeProvider.ThemeChanged();
    }
}