@using AutoScrum.Services

@inject DailyScrumService _dailyScrum
@inject OutputService _outputService

<CollapsibleCard Title="Users" AnchorLink="user-list" BodyStyle="padding: 0">
    <Table DataSource="Users"
           Responsive
           HidePagination>
        <Column Title="Name" TData="User">
            <Tooltip Title="context.Email">
                <span>@context.DisplayName</span>
            </Tooltip>
        </Column>
        <ActionColumn Title="Include">
            <Switch Checked="context.Included" CheckedChanged="include => UserIncludeChanged(context, include)" />
        </ActionColumn>
    </Table>
</CollapsibleCard>

@code
{
    [Parameter]
    public List<User> Users { get; set; } = new();

    private void UserIncludeChanged(User user, bool isIncluded)
    {
        user.Included = isIncluded;

        _dailyScrum.ReloadWorkItems();
        _outputService.Update();
    }
}
